[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: dfn_ccleaner
name: CCleaner
description: Kostenloses Programm zur Optimierung und Saeuberung des Computers. [Free software for cleaning and optimizing of your computer]
advice: 
version: 5.63
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: bool
name: desktopicon
description: generate or delete desktop icon
default: True

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[Changelog]
dfn_ccleaner (5.63-1) stable; urgency=low

Update auf 5.63, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Wed, 16 Oct 2019 14:41:03 +0000

dfn_ccleaner (5.62-1) stable; urgency=low

Update auf 5.62, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Mon, 07 Oct 2019 18:18:37 +0000

dfn_ccleaner (5.61-1) stable; urgency=low

Update auf 5.61, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Tue, 20 Aug 2019 16:59:08 +0000

dfn_ccleaner (5.59-1) stable; urgency=low

Update auf 5.58, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 27 Jun 2019 13:01:58 +0000

dfn_ccleaner (5.58-1) stable; urgency=low

Update auf 5.58, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Tue, 18 Jun 2019 15:21:11 +0000

dfn_ccleaner (5.57-1) stable; urgency=low

Update auf 5.57, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 16 May 2019 18:55:03 +0000

dfn_ccleaner (5.56-1) stable; urgency=low

Update auf 5.56, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Wed, 10 Apr 2019 12:54:28 +0000

dfn_ccleaner (5.55-1) stable; urgency=low

Update auf 5.55, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 14 Mar 2019 11:58:21 +0000

dfn_ccleaner (5.54-1) stable; urgency=low

Update auf 5.54, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Tue, 05 Mar 2019 10:47:37 +0000

dfn_ccleaner (5.53-1) stable; urgency=low

Log-Verezichnis geändert auf "%opsiLogDir%".

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 31 Jan 2019 12:11:42 +0000

dfn_ccleaner (5.52-1) stable; urgency=low

Update auf 5.52, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Tue, 29 Jan 2019 18:44:42 +0000

dfn_ccleaner (5.51-1) stable; urgency=low

Update auf 5.51, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 27 Dec 2018 13:43:52 +0000

dfn_ccleaner (5.50-1) stable; urgency=low

Update auf 5.50, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Wed, 05 Dec 2018 13:35:54 +0000

dfn_ccleaner (5.49-1) stable; urgency=low

Update auf 5.49, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Tue, 13 Nov 2018 19:15:47 +0000

dfn_ccleaner (5.48-1) stable; urgency=low

Update auf 5.48, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Fri, 26 Oct 2018 18:14:04 +0000

dfn_ccleaner (5.47-1) stable; urgency=low

Update auf 5.47; exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Fri, 21 Sep 2018 13:16:20 +0000

dfn_ccleaner (5.46-1) stable; urgency=low

Update auf 5.46, exe getauscht..

 -- Eric Esser <eric.esser@wzb.eu>  Mon, 03 Sep 2018 16:03:11 +0000

dfn_ccleaner (5.45-1) stable; urgency=low

Update auf 5.45, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Wed, 25 Jul 2018 14:27:01 +0000

dfn_ccleaner (5.44-1) stable; urgency=low

Update auf 5.44, exe getauscht.

 -- Eric Esser <eric.esser@wzb.eu>  Wed, 27 Jun 2018 19:02:57 +0000

dfn_ccleaner (5.42-1) stable; urgency=low

Exe getauscht, Update auf 5.42.

 -- Eric Esser <eric.esser@wzb.eu>  Tue, 24 Apr 2018 15:56:02 +0000

dfn_ccleaner (5.41-1) stable; urgency=low

Exe getauscht, Update auf 5.41.

 -- Eric Esser <eric.esser@wzb.eu>  Tue, 24 Apr 2018 15:55:33 +0000

dfn_ccleaner (5.38-1) stable; urgency=low

Exe getauscht, Update auf 5.38.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 04 Jan 2018 19:54:49 +0000

dfn_ccleaner (5.37-1) stable; urgency=low

Exe getauscht, Update auf 5.37.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 16 Nov 2017 12:38:13 +0000

dfn_ccleaner (5.36-1) stable; urgency=low

Exe getauscht, Update auf 5.36.

 -- Eric Esser <eric.esser@wzb.eu>  Tue, 24 Oct 2017 14:07:40 +0000

dfn_ccleaner (5.35-2) stable; urgency=low

Bug bei De/Installation gefixt, Skript hat CCleaner vormals ins 64-bit Verzeichnis installiert. Jetzt wieder in Program Files(x86), entfernt im delsub aber auch die Version aus Program Files.

 -- Eric Esser <eric.esser@wzb.eu>  Tue, 10 Oct 2017 15:50:08 +0000

dfn_ccleaner (5.35-1) stable; urgency=low

Exe getauscht, Update auf 5.35.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 21 Sep 2017 17:28:28 +0000

ccleaner (5.07-1) stable; urgency=low

	* initial: created by opsi-setup-detector

-- opsisetupdetector.exe <info@uib.de>  03.07.2015 11:21:47
