[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: dfn_ccleaner
name: CCleaner
description: Kostenloses Programm zur Optimierung und Saeuberung des Computers.
advice: 
version: 5.36
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: bool
name: desktopicon
description: generate or delete desktop icon
default: True

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[Changelog]
dfn_ccleaner (5.36-1) stable; urgency=low

Exe getauscht, Update auf 5.36.

 -- Eric Esser <eric.esser@wzb.eu>  Tue, 24 Oct 2017 14:07:40 +0000

dfn_ccleaner (5.35-2) stable; urgency=low

Bug bei De/Installation gefixt, Skript hat CCleaner vormals ins 64-bit Verzeichnis installiert. Jetzt wieder in Program Files(x86), entfernt im delsub aber auch die Version aus Program Files.

 -- Eric Esser <eric.esser@wzb.eu>  Tue, 10 Oct 2017 15:50:08 +0000

dfn_ccleaner (5.35-1) stable; urgency=low

Exe getauscht, Update auf 5.35.

 -- Eric Esser <eric.esser@wzb.eu>  Thu, 21 Sep 2017 17:28:28 +0000

ccleaner (5.07-1) stable; urgency=low

	* initial: created by opsi-setup-detector

-- opsisetupdetector.exe <info@uib.de>  03.07.2015 11:21:47